

#qode-main-slider > div.carousel-inner.skrollable.skrollable-between > div > div.slider_content_wrapper > div > div > div > div > div:nth-child(1) > h2{
padding: 50% 0 0 0;
}
ul#menu-main-menu a span {
    color: #000!important;
}
#before-after-container-section{max-height:600px;}
div#qode-main-slider a:hover {
    background: #3c8036!important;
    border-color: #3c8036!important;
}
a.jx-knightlab {
    display: none!important;
}
.mobile_menu_button {
    display: none;
}
.services-section{
    display: none;
}

.mobile_row{
display:none
}
.tablet_row{
display: none;
}
#qode-main-slider .q_slide_title  {
    margin-top: 25%;
}
#qode-main-slider .slider_content_outer {
    padding-bottom: 90px;
}
@media screen and (max-width: 1200px){
.mobile_row{
display:block;
}
.desktop_row{
display: none;
}
}

@media screen and (max-width: 992px){
.tablet_row{
display: block;
}
.desktop_row{
display: none;
}
.mobile_row{
display:none
}
}
@media screen and (max-width: 480px){
#qode-main-slider .slider_content_inner {
    width: 90%!important;
    position: relative;
    left: 5%!important;
}
#qode-main-slider a.qbutton {
    font-size: 14px!important;
    line-height: 41px!important;
    letter-spacing: 2px;
    height: 40px!important;
    width: 80% !important;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
    margin: 10px 0px;
}
.carousel-inner .q_slide_subtitle span {
    font-size: 16px;
    margin-bottom: 13px;
    display: inline-block;
    line-height: 28px;
}
}